<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Energie Raats</title>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/prism.css">
    <script src="/javascripts/prism.js"></script>
    <script src="/javascripts/Chart.min.js"></script>
    <script src="/javascripts/energo.js"></script>
</head>
<body>
    <div class="container">
          <div class="header clearfix">
            <nav>
              <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="/">Home</a></li>
                <li role="presentation"><a href="/api">API</a></li>
                <li role="presentation"><a href="/meter/halsteren">Halsteren</a></li>
                <li role="presentation"><a href="/meter/welberg">Welberg</a></li>
              </ul>
            </nav>
            <h3 class="text-muted">Energie Raats</h3>
          </div>
          {{{body}}}

          <footer class="footer">
            <p>&copy; Joost en Jan Willem Raats</p>
          </footer>

        </div> <!-- /container -->
</body>
</html>