    <div class="jumbotron">
        <h1>Overzicht</h1>
    </div>
        <h4>Laatste 24-uur</h4></br>
         <canvas id="graphsMeter" height="450" width="400"></canvas>

         <h4>De afgelopen 31 dagen (per dag)</h4></br>
         <canvas id="graphsMeterDay" height="450" width="400"></canvas>